/* свойство display переопределяет поведение элемента с одного на другое (например делает блочный элемент строчным)  */
/* тут разберём block, inline, inline-block и none */
/* Block это элемент, который ведет себя как обычный блочный элемент, как любой div. margin, padding - границы
Inline используется для элементов, которые отображаются в группе слов рядом с другими элементами, например, в параграфе. padding-left: ; padding-right: ;
Inline-block элемент ведет себя одновременно и как срочный, и как блочный. Блок в строке
Nonе это значение, которое полностью скрывает наш элемент со страницы, однако важно понимать, что при этом элемент не удаляется. Он просто скрывается, и мы его не видим. Например, когда вы хотите показать какую-то секцию по нажатию на кнопку, вы по умолчанию этой секции задаете display-block, после нажатия на кнопку вы создаете display-block или еще что-то. */
.target {
	font-weight: 800;
	background-color: yellowgreen;
	/* display: inline; */
	/* display: block; */
	display: inline-block;
	height: 50px;
	width: 60px;
	/* display: none; */
}

button {
	display: inline-block;
	background-color: blueviolet;
	height: 40px;
	width: 70px;
}

