/* Директива, которая позволяет задавать разные стили для разных параметров экрана — ширины, высоты, ориентации и даже типа устройства. */



/* body {
	background-color: blue;
} */

/* @media (orientation: portrait) {
  body {
		background-color: red;
	}
}  */

/* body {
	background-color: red;
}

@media (min-width: 600px) {
	body {
		background-color: blue;
	}
} */

/* @media (min-width: 900px) {
  .block {
    display: flex;
		background-color: aqua;
		height: 500px;
		width: 500px;
  }
} */

/* body {
	font-size: 14px;
}
@media (min-width: 600px) {
	body{
		font-size: 18px;
		background-color: aqua;
	}
} */

/* баннер исчезает */
/* .banner {
	display: block;
	background-color: lightblue;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

@media (max-width: 700px) {
	.banner {
		display: none;
	}
} */

/* комбинирование условий */
/* @media(min-width: 600px) and (orientation: landscape) {
	body {
		background-color: green;
		font-size: 20px;
	}
}
 @media not (orientation: portrait) {
	body {
		border: 20px solid yellow;
	}
 }

 @media only screen and (min-width: 768px) {
	.container {
		background-color: lightpink;
	}
 } */

 /* адаптивная сетка. В зависимости от размеров экрана "карточки товаров" сдвигаются или расширяются */
.container1 {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	background-color: lightblue;
	padding: 20px;
}

 @media (min-width: 768px){
	.container1 {
		grid-template-columns: 1fr 1fr;
	}
 } 

 .card {
	padding: 20px;
	background-color: lightpink;
	border: 1px solid lightgrey;
	text-align: center;
 }
