* { 	/* универсальный селектор (для всех элементов на странице) */
	font-size: 17px;
}

/* селектор потомка - применение к дочерним элеменетам определённого родительского элемента. Т.е. кнопка - потомок section  */
section button {
	color: red
}
/* по возможности стараемся минимизировать глубокую вложенность, т.к. браузер тратит ресурсы на загрузку всей этой хуйни*/

/* селектор непосредственного потомка - выберет только те, что находятся в самом потомке, игнорируя более глубокую хуйню */
section>button {
	color: violet
}

/* селектор соседнего элемента - применяется к элементу, который следует за указанным элементом (например только первая button, следующая за ul)  */
ul+button{
	margin-top: 50px;
}

div.notice + button{
	background-color: yellow;
}

/* селекторы по аттрибутам - приписать селекторы не целым тегам, а конкретным аттрибутам */
a[href="#"] {
	color: red;
}

a[href="example.com"] {
	background-color: green;
}

img {
	aspect-ratio: 40%;
}
/* также его можно хуярить для элементов, которые начинаются или заканчиваются на определённые значения */
img[src$=".png"] {
	border: solid 10px blue;
	width: 40%;
}

/* объединение селекторов - применение селекторов к нескольким элементам. Код более компактный*/
button, a { 
	color: aliceblue;
}

h1, h2 {
	font-family: 'Times New Roman', Times, serif;
}

.container>p {
	background-color: blueviolet;
}